@import 'colors';

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    a {
        color: $link;
        text-decoration: none;
    }

    p {
        font-size: 1.2rem;
    }

    input {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        padding: .2rem;
    }

    .photo-gallery-title {
         font-size: 1.5rem;
    }
}

.photo-gallery {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    padding: 2rem;
}

.photo-card {
    border-top: 1px solid $line;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;

    img {
        margin-right: 2rem;
    }
}
